<div class="hero-unit">
	<h1>Welcome to One month Rails!</h1>
	<p>
	You have found the home page for the 
	<%= link_to "One Month rails", "http://onemonthrails.com" %>
	</p>
	<p>
	<p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %>
	</p>
</div>